@media (min-width: 768px){
	.carousel-caption { max-width: 66.666%; }
}

.page-template-template-service-subpage_2col .current_page_parent { font-size: 0.8em; }

ul.section_page_menu { font-size: 16px; }