a:hover, article a:hover {
	text-decoration: none;
}

.page-template-template-about-subpage .panel-default > .panel-heading {
	background-color: #97D6E2;
}


.page-template-template-about-subpage hr {
	border-top: 1px solid #97D6E2;
}

.page-template-template-about-subpage .panel-group .panel-heading +.panel-collapse >.panel-body {
	background: #F5f5f5;
}

.page-template-template-about-subpage .panel-group .panel {
	/*margin-bottom: 0;*/
}

.page-template-template-about-subpage .panel-group .panel+.panel {
	/*margin-top: 0;
	padding-bottom: 10px;*/
}

.signup-form-container {
    height: 0;
    overflow: hidden;
    width: 100vw;
    position: fixed;
    z-index: 99999;
    color: #fff;
    text-align: center;
    background: rgba(8,162,205,1);
    background: -moz-linear-gradient(top, rgba(8,162,205,1) 0%, rgba(142,204,199,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8,162,205,1)), color-stop(100%, rgba(142,204,199,1)));
    background: -webkit-linear-gradient(top, rgba(8,162,205,1) 0%, rgba(142,204,199,1) 100%);
    background: -o-linear-gradient(top, rgba(8,162,205,1) 0%, rgba(142,204,199,1) 100%);
    background: -ms-linear-gradient(top, rgba(8,162,205,1) 0%, rgba(142,204,199,1) 100%);
    background: linear-gradient(to bottom, rgba(8,162,205,1) 0%, rgba(142,204,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a2cd', endColorstr='#8eccc7', GradientType=0 );
}

.cal-popup { z-index: 9; }

.close-popup {    
	position: absolute;
    display: block;
    right: 20px;
    top: 20px;
    padding: 10px;
    background: #97D6E2;
    border-radius: 10px;
    color: #fff;
}

.cal-popup-inner { top: 10%; width:80%; left: 10%; overflow: hidden; padding: 70px; }

@media (min-width: 600px){
	.cal-popup-inner {
		max-width: 600px;
		left: 0;
		right: 0;
	}
}

.hidden-calendar-poup {
	padding-top: 25px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.hidden-calendar-poup h2 {
	margin-bottom: 30px;
}

.cal-scroller {
	overflow: scroll;
    height: 100%;
}

.page-template-template-about-subpage-php #icon_about_us_menu {display: block !important;}

#menu-about-us-menu .icon_menu li a {
	padding: 15px 10px;
	max-height: 55px;
}

.alternating-cols {
	margin-bottom: 30px;
}

@media (min-width: 768px){
	.full-width-col {
		padding: 0 30px;
	}
}


.search-container {height: 0px;}

.search-container .close-form { border-radius: 10px; }

.search-container form.search {
    padding-top: 100px;
}

#myCarousel, ul#breadcrumbs {display: none;}

@media (min-width: 600px){
	#myCarousel, ul#breadcrumbs {display: block;}
}

.wpcf7-form-control {
	background: #fff;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid #97D6E2;
}

.wpcf7-submit {background: #97D6E2;}

textarea.wpcf7-form-control {
	height:200px;
}


.rounded-btn { background: url('img/link_icon_pdf.png') 15px center no-repeat; background-size: 25px; }

.alignleft {
	float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}